---
interface Props {
  href: string;
  src: string;
  alt: string;
}

const { href, src, alt } = Astro.props;
---

<a
  class="md:w-[28px] w-[28px] flex justify-center items-center p-1 bg-customBlue rounded-full"
  target="_blank"
  href={href}
>
  <img src={src} alt={alt} height="32" width="32" style="fill: white;" />
</a>
