---
import SocialIcon from "./SocialIcon.astro";
---

<style>
    .social-list {
        display: flex;
        align-items: center;
        column-gap: 0.25rem;
        margin-top: 0.75rem;
    }
</style>
<div class="social-list">
    <span>Let's keep in touch on</span>
    <SocialIcon
        href="https://www.linkedin.com/in/matteo-gobbo/"
        src="/socials/linkedin.svg"
        alt="linkedin"
    />
    <SocialIcon
        href="https://twitter.com/matteogobbo_"
        src="/socials/x.svg"
        alt="x"
    />
    <SocialIcon
        href="https://github.com/matteo-gobbo"
        src="/socials/github.svg"
        alt="github"
    />
</div>
