---
import SocialIcon from "./SocialIcon.astro";
---

<div class="flex start items-center">
  Let's keep in touch on:
  <div class="w-4"></div>
  <SocialIcon
    href="https://www.linkedin.com/in/matteo-gobbo/"
    src="/socials/linkedin.svg"
    alt="linkedin"
  />
  <div class="w-2"></div>
  <SocialIcon
    href="https://twitter.com/matteogobbo_"
    src="/socials/x.svg"
    alt="x"
  />
  <div class="w-2"></div>
  <SocialIcon
    href="https://github.com/matteo-gobbo"
    src="/socials/github.svg"
    alt="github"
  />
</div>
