@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  article {
    @apply mb-16
  }

  article h1 {
    @apply text-5xl font-bold mt-8 mb-4
  }

  article p {
    @apply mb-2
  }

  article h2 {
    @apply text-3xl font-bold mt-8 mb-4
  }
  
  article ol {
    @apply list-decimal pl-6
  }
  
  article ol li {
    @apply mb-4
  } 
  
  article pre {
    @apply my-8 px-4 py-6 relative
  }  

  article p > code {
    @apply text-red-400 bg-gray-900 px-1  
  }  

  article .btn__copy-code {
    @apply absolute top-4 right-12 shadow-lg px-2 py-1 rounded-md text-customLightGrey 
  }
}