---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "@fontsource/poppins";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-customDarkGrey text-customWhite">
    <!-- <header class="bg-slate-400 py-4 shadow-md">
      <div class="flex justify-between mx-auto md:max-w-7xl max-w-xs">
        <div>Logo</div>
        <div class="flex justify-center items-center">
          <div class="mr-4">
            <a
              class="text-sm text-customLightGrey hover:text-customWhite transition-colors"
              href="/">Home</a
            >
          </div>
          <div class="mr-4">
            <a
              class="text-sm text-customLightGrey hover:text-customWhite transition-colors"
              href="/blog">Blog</a
            >
          </div>
          <div>
            <a
              class="text-sm text-customLightGrey hover:text-customWhite transition-colors"
              href="/side-projects">Side Projects</a
            >
          </div>
        </div>
      </div>
    </header> -->
    <slot />
  </body>
</html>
